
@{
    ViewData["Title"] = "Map Gallery";
}

<style>
    /*img {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }*/


    .borderless td, .borderless th {
        border: none;
    }
</style>

<h1 class="display-4 text-center">Maps</h1>
<container>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Map Name or tag to search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div>
                <a class="btn btn-link btn-outline-success text-white" href="@Url.Content($"~/Identity/User/NewMap")">
                    Upload New Map <i class="fas fa-upload"></i>
                </a>
            </div>
        </div>
    </div>
</container>


@if (Model.UserMaps != null)
{
    <div class="container mt-5">
        @foreach (var maps in Model.UserMaps)
        {
            <div class="row">
                @foreach (var map in maps)
                {
                    <div class="col-sm mb-3">
                        <div class="card border-0 shadow" style="width: 18rem; background-color: #121212;">
                            <a href="~/UserContent/@map.FilePath"><img loading="lazy" src="~/UserContent/@map.PreviewFilePath" class="card-img-top"></a>
                            <div class="card-body">
                                <h5 class="card-title text-light">@map.MapName</h5>
                                <i class="fa fa-trash fa-lg mr-3" type="button"></i>
                                <i class="fas fa-edit fa-lg mr-3" type="button"></i>
                                <a href="#" class="btn-sm btn-primary">Tag</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}