<h1>Maps!</h1>


<form>
    <div id="former" class="form-group">
        <label for="fileInput">Example file input</label>
        <input type="file" class="form-control-file" id="fileInput">
    </div>
    <button id="fileUploadButton">Upload</button>
</form>


@if(Model.UserMaps != null)
{
    <div class="container">
        @foreach (var maps in Model.UserMaps)
        {
            <div class="row">
                @foreach (var map in maps)
                {
                    <div class="col-sm">
                        <img src="~/UserContent/@map.FilePath" class="img-thumbnail img-fluid">
                    </div>
                }
            </div>
        }
    </div>
}



<script>

    let file = document.getElementById("fileInput");
    let formData = new FormData();

    /*UPLOAD ON FILE SELECTION*/
    $("#fileUploadButton").on("click", async function (evt) {
        formData.append("file", file.files[0]);
        evt.preventDefault();
            fetch("api/File",
                {
                    method: 'POST',
                    body: formData
                })
                .then(() => location.reload())
                .catch("Failed to upload file.")
        });
</script>