<form>
    <div id="former" class="form-group">
        <label for="fileInput">Example file input</label>
        <input type="file" class="form-control-file" id="fileInput">
    </div>
    <button id="fileUploadButton">Upload</button>
</form>

<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04">
            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div>
        <div>
            <button class="btn broder border-success text-white mt-3">Upload <i class="fas fa-upload"></i></button>
        </div>
    </div>
</div>

<script>

    const mapGalleryUrl = "@Url.Content("~/Identity/User/MapGallery")";
    let file = document.getElementById("fileInput");
    let formData = new FormData();

    /*UPLOAD ON FILE SELECTION*/
    $("#fileUploadButton").on("click", async function (evt) {
        formData.append("file", file.files[0]);
        evt.preventDefault();
        fetch("api/File",
            {
                method: 'POST',
                body: formData
            })
            .then(() => location.href = mapGalleryUrl)
            .catch("Failed to upload file.")
    });
    </script>