
@{
    ViewData["Title"] = "New Map";
}

<h1 class="display-4 text-center mb-3">New Map</h1>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <form id="newMapForm">
            <label for="fileInput">Map File</label>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="fileInput" required />
                <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
            </div>
            <label for="inputMapName">Map Name</label>
            <div class="input-group mb-3">
                <input id="inputMapName" type="text" class="form-control" placeholder="Enter a Map Name" required autocomplete="off" />
            </div>
            <div class="mt-5">
                <center>
                    <button id="fileUploadButton" type="submit" class="btn btn-lg broder border-success text-white mt-3">Upload <i class="fas fa-upload"></i></button>
                </center>
            </div>
            <input id="inputCampaignId" class="d-none" value="@Model.SelectedCampaignID" />
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div id="loadingAnimation" class="spinner-border d-none" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script>

const mapGalleryUrl = "@Url.Content("~/Identity/User/MapGallery")";
const sessionNotesUrl = "@Url.Content("~/Identity/User/SessionNotes")";

/*UPLOAD ON FILE SELECTION*/
$("#newMapForm").on("submit", async function (evt) {
    evt.preventDefault();

    $("#loadingAnimation").toggleClass("d-none");


    let fileInput = document.getElementById("fileInput");
    let formData = new FormData();

    formData.append("file", fileInput.files[0]);
    formData.append("mapName", $("#inputMapName").val());

    let searchParam = new URLSearchParams(window.location.search)
    if (searchParam.has("note")) {

        noteId = searchParam.get("note");
        formData.append("NoteId", noteId)
        afterUploadUrl = sessionNotesUrl;

    }
    else {

        afterUploadUrl = mapGalleryUrl;
    }


    fetch("api/Map",
        {
            method: 'POST',
            body: formData
        })
        .then(() => location.href = afterUploadUrl)
        .catch("Failed to upload file.")
});
</script>
