@{
    ViewData["Title"] = "Session Notes";
}

<div class="row justify-content-start">
    <ul class="nav flex-column col-3 list-unstyled">
        <li class="nav-item">
            <p class="nav-link">Sections</p>
            <hr />
        </li>
        <li class="nav-item">
            <button class="text-success btn btn-link" data-toggle="collapse" data-target="#newSectionArea">New Section +</button>
        </li>
        <li id="newSectionArea" class="nav-item collapse">
            <input id="inputNewSection" type="text" class="form-control" placeholder="Section Title" onfocusout="createNewSection()" />
            <input id="inputCampaignID" class="d-none" value="@Model.SelectedCampaign.CampaignID" />
        </li>
        @foreach (var sessionSection in Model.SessionSections)
        {

            int id = sessionSection.SessionSectionID;

            <li type="nav-item collapse">
                <button class="text-white btn btn-link" data-toggle="collapse" data-target="#sectionContent@(id)">@sessionSection.SessionSectionName</button>
                <div id="sectionContent@(id)" class="collapse">
                    <ul>
                        <li type="disc">
                            <button class="btn btn-link text-success" data-toggle="collapse" data-target="#newNoteArea@(id)">New Note +</button>
                        </li>
                        <li id="newNoteArea@(id)" type="none" class="nav-item collapse">
                            <input id="inputNewNote@(id)" type="text" class="form-control" placeholder="Note Title" onfocusout="createNewNote(@(id))" />
                        </li>
                        @if (sessionSection.SessionNotes != null && sessionSection.SessionNotes.Count > 0)
                        {
                            @foreach (var sessionNote in sessionSection.SessionNotes)
                            {
                                <li type="disc">
                                    <button class="text-white btn btn-link">@sessionNote.SessionNoteTitle</button>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </li>
        }
    </ul>
    <div class="col">
        <div class="jumbotron bg-dark">
            <h1 class="display-4">Note 1</h1>
            <hr />
            <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. </p>
        </div>
    </div>
</div>

<script>

    function createNewSection() {

        item = {

            sessionSectionName: $("#inputNewSection").val(),
            campaignID: parseInt($("#inputCampaignID").val(), 10)
        }

        fetch("api/SessionSection", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(item)
        })
            .then((response) => response.json())
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));
    }

    function createNewNote(sessionSectionID) {

        item = {

            sessionNoteTitle: $("#inputNewNote" + sessionSectionID).val(),
            campaignID: parseInt($("#inputCampaignID").val(), 10),
            sessionSectionID: parseInt(sessionSectionID, 10)
        }

        fetch("api/SessionNote", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(item)
        })
            .then((response) => response.json())
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));
    }
</script>