
@{
    ViewData["Title"] = "Tags";
}
<style>
    .tagTable {
        background-color: #121212;
    }

    .list-group-item {
        background-color: #1F1B24;
    }
</style>
<!--Input Form-->
<form name="newTagForm" id="newTagForm">
    <div class="row mb-3">
        <div class="col-sm-5">
            <div class="input-group mb-3">
                <input type="text" id="inputNewTagName" class="form-control" placeholder="New Tag Name">
            </div>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-outline-success text-white" type="submit">Create New Tag</button>
        </div>
    </div>
</form>
<!--Input Form-->

@foreach (var tag in Model)
{
    <div class="row mb-3">
        <div class="col-sm-7">
            <div class="list-group-item">
                <div class="row justify-content-between">
                    <div class="col-sm-auto">
                        <h5>@tag.Name</h5>
                    </div>
                    <div class="col-sm-auto">
                        <button id="btnEditSectionName" class="btn text-white border-primary" type="button" onclick="displayEditSectionName()">
                            Edit <i class="fas fa-edit fa-sm"></i>
                        </button>
                        <button id="btnDeleteSectionName" class="btn text-white border-danger ml-3" onclick="displayDeleteSectionName()" type="button">
                            Delete <i class="fa fa-trash fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>

    $("#newTagForm").on("submit", async function (evt) {

        evt.preventDefault();
        var tagName = $("#inputNewTagName").val();
        fetch("api/Tag/" + tagName, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then((response) => response.json())
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));

    });

</script>