
@{
    ViewData["Title"] = "Tags";
}

<h3>Map Tags</h3>
<style>
    .tagTable {
        background-color: #121212;
    }

    .list-group-item {
        background-color: #1F1B24;
    }
</style>
<!--Input Form-->
<form name="newTagForm" id="newTagForm">
    <div class="row mb-3">
        <div class="col-sm-5">
            <div class="input-group mb-3">
                <input type="text" id="inputNewTagName" class="form-control" placeholder="New Tag Name">
            </div>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-outline-success text-white" type="submit">Create New Tag</button>
        </div>
    </div>
</form>
<!--Input Form-->

@foreach (var tag in Model)
{
    <div class="row mb-3">
        <div class="col-sm-7">
            <div class="list-group-item">
                <div class="row justify-content-between">
                    <div class="col-sm-auto">
                        <h5 id="headerTagName@(tag.TagID)">@tag.Name</h5>
                        <input id="inputEditTagName@(tag.TagID)" class="form-control d-none" type="text" />
                    </div>
                    <div class="col-sm-auto">
                        <button id="btnEditSectionName" class="btn text-white border-primary" type="button" onclick="UpdateTagName(@tag.TagID)">
                            Edit <i class="fas fa-edit fa-sm"></i>
                        </button>
                        <button id="btnDeleteSectionName" class="btn text-white border-danger ml-3" onclick="DeleteTag(@tag.TagID)" type="button">
                            Delete <i class="fa fa-trash fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    $("#newTagForm").on("submit", async function (evt) {

        evt.preventDefault();
        var tagName = $("#inputNewTagName").val();
        fetch("api/Tag/" + tagName, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then((response) => response.json())
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));

    });

    function UpdateTagName(id) {

        var input = $("#inputEditTagName" + id);
        var header = $("#headerTagName" + id);

        header.toggleClass("d-none");
        input.val(header.text());
        input.toggleClass("d-none");

        input.on("keypress focusout", async function (evt) {
            var key = evt.which;
            if (key == 13 || key == 0) {

            evt.preventDefault();

            item = {

                tagID: id,
                name: input.val()
            }

            fetch("api/Tag", {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(item)
            })
                .then((response) => response.json())
                .then(() => location.reload())
                .catch(() => console.log("Failed to update item"));
            }

        });

    }

    function DeleteTag(id) {

        fetch("api/Tag/" + id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));
    }

</script>