
@{
    ViewData["Title"] = "Tags";
}
<style>
    .tagTable {
        background-color: #121212;
    }

    .list-group-item {
        background-color: #1F1B24;
    }
</style>
<!--Input Form-->
<div class="row mb-3">
    <div class="col-sm-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="New Tag Name">
        </div>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-outline-success text-white" type="button">Create New Tag</button>
    </div>
</div>
<!--Input Form-->

<div class="row mb-3">
    <div class="col-sm-7">
        <div class="list-group-item">
            <div class="row justify-content-between">
                <div class="col-sm-auto">
                    <h5>Vestibulum at eros</h5>
                </div>
                <div class="col-sm-auto">
                    <button id="btnEditSectionName" class="btn text-white border-primary" type="button" onclick="displayEditSectionName()">
                        Edit <i class="fas fa-edit fa-sm"></i>
                    </button>
                    <button id="btnDeleteSectionName" class="btn text-white border-danger ml-3" onclick="displayDeleteSectionName()" type="button">
                        Delete <i class="fa fa-trash fa-sm"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<non
<script>
    
</script>