@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-2">Endevrian <i class="fab fa-d-and-d"></i></h1>
    </div>

    <div class="text-center">
        <p class="text-muted">Dungeons & Dragons Campaign Tool</p>
    </div>

    <img src="~/img/cover.jpg" class="img-fluid border border-secondary" alt="Responsive image">
