@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: url("../img/cover.jpg") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div>
    <div class="text-center">
        <h1 class="display-1 text-white float-right"><b>Endevrian</b><i class="fab fa-d-and-d"></i></h1>
    </div>
</div>
