@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: url("../img/cover.jpg") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div>
    <div class="text-center">
        <h1 class="display-1 text-white float-right"><b>Endevrian</b><i class="fab fa-d-and-d"></i></h1>
    </div>
</div>

<pwa-install showopen>Install</pwa-install>

<script type="module">
    import 'https://cdn.jsdelivr.net/npm/@@pwabuilder/pwaupdate';

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);

</script>
@*<script>
    window.addEventListener('beforeinstallprompt', (event) => {
        console.log('👍', 'beforeinstallprompt', event);
        // Stash the event so it can be triggered later.
        window.deferredPrompt = event;
        // Remove the 'hidden' class from the install button container
        divInstall.classList.toggle('hidden', false);
    });

    butInstall.addEventListener('click', () => {
        console.log('👍', 'butInstall-clicked');
        const promptEvent = window.deferredPrompt;
        if (!promptEvent) {
            // The deferred prompt isn't available.
            return;
        }
        // Show the install prompt.
        promptEvent.prompt();
        // Log the result
        promptEvent.userChoice.then((result) => {
            console.log('👍', 'userChoice', result);
            // Reset the deferred prompt variable, since
            // prompt() can only be called once.
            window.deferredPrompt = null;
            // Hide the install button.
            divInstall.classList.toggle('hidden', true);
        });
    });

    window.addEventListener('appinstalled', (event) => {
        console.log('👍', 'appinstalled', event);
    });
</script>*@

