@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{var user = User.FindFirstValue(ClaimTypes.NameIdentifier);}
@{
    ViewData["Title"] = Model.PageName;
}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form id="formSearch" asp-controller="User" asp-action="MapGallery">
            <div class="input-group mb-3">
                <input id="inputUserSearch" type="text" class="form-control" placeholder="Search the wiki" name="searchString" autocomplete="off">
                <div class="input-group-append">
                    <button id="btnSearch" class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card border-0 shadow" style="width: 21rem; background-color: #121212;">
            <div class="card-header">
                <h3>@Model.PageName</h3>
            </div>
            <img loading="lazy" src="@Model.ImagePath" alt="Upload Image" class="card-img-top">
            <div class="card-body">
                <p>Other details</p>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <p>@Html.Raw(Model.WikiContent)</p>
    </div>
</div>



