@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{var user = User.FindFirstValue(ClaimTypes.NameIdentifier);}
@{
    ViewData["Title"] = "Wiki Portal";
}
<h6 class="display-4 text-center mb-3">Endevrian Wiki</h6>
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form id="formSearch" asp-controller="User" asp-action="MapGallery">
            <div class="input-group mb-3">
                <input id="inputUserSearch" type="text" class="form-control" placeholder="Search the wiki" name="searchString" autocomplete="off">
                <div class="input-group-append">
                    <button id="btnSearch" class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Campaigns.Count > 0)
{
    foreach (var campaign in Model.Campaigns)
    {
        <h3>@campaign.CampaignName</h3>

        @foreach (var page in campaign.WikiPages)
        {
            <p>@(page.PageName)</p>
        }

        @if (user != null)
        {
            <a asp-area="Identity" asp-controller="Author" asp-action="NewWikiPage" asp-route-campaignID="@campaign.CampaignID">Add Wiki Page</a>
        }
    }
}

@*<form id="formSearch" asp-controller="User" asp-action="MapGallery">
    <div class="input-group mb-3">
        <input id="inputUserSearch" type="text" class="form-control" placeholder="Enter Map Name or tag to search" name="searchString" autocomplete="off">
        <div class="input-group-append">
            <button id="btnSearch" class="btn btn-outline-secondary" type="submit">
                <i class="fa fa-search text-white" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>*@