@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>Your email has been confirmed, <a asp-area="Identity" asp-page="/Account/Login">please login</a></p>