
@{
    ViewData["Title"] = "Tags";
}

<h3>Map Tags</h3>
<style>
    .tagTable {
        background-color: #121212;
    }

    .list-group-item {
        background-color: #1F1B24;
    }
</style>
<!--Input Form-->
<div class="row mb-3">
    <div class="col-sm-5">
        <div class="input-group mb-3">
            <input type="text" id="inputNewTagName" class="form-control" placeholder="New Tag Name">
        </div>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-outline-success text-white" onclick="AddTag()">Create New Tag</button>
    </div>
</div>

<!--Input Form-->
@foreach (var tag in Model)
{
    <div class="row mb-3">
        <div class="col-sm-7">
            <div class="list-group-item">
                <div class="row justify-content-between">
                    <div class="col-sm-auto">
                        <h5 id="headerTagName@(tag.TagID)">@tag.Name</h5>
                        <input id="inputEditTagName@(tag.TagID)" class="form-control d-none" type="text" />
                    </div>
                    <div class="col-sm-auto">
                        <button id="btnEditSectionName" class="btn text-white border-primary" type="button" onclick="UpdateTagName(@tag.TagID)">
                            Edit <i class="fas fa-edit fa-sm"></i>
                        </button>
                        <button id="btnDeleteSectionName" class="btn text-white border-danger ml-3" onclick="DeleteTag(@tag.TagID)" type="button">
                            Delete <i class="fa fa-trash fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}